.modal-content {
  background-color: #000000cc;
  align-items: center;
}

.modal-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.btn-close {
  background: none;
  color: #fff;
  opacity: 1;
  font-size: 3rem;
  text-align: right;
  width: 100%;
  padding: 0;
  height: 1.5em;
}