.container {
  padding-top: 30px;
}

.form-control {
  max-width: 330px;
}

.btn btn-success {
  align-self: flex-end;
}

.album-list {
  text-align: center;
  margin-top: 30px;
}

.card {
  height: 75px;
  display: block;
  text-align: left;
  background-color: #f8f9fa;
  margin: 10px 0;
  padding: 10px 10px;
}

.card-text {
  margin: 0 10px;
  color: #212529;
  text-decoration: none;
}

.buttons {
  float: right;
}

.btn-warning {
  width: 80px;
  margin-right: 5px;
}

.btn-danger {
  width: 80px;
  margin-left: 5px;
}